.main-root {
  width: 82vw;
}
.tab {
  display: flex;
  width: 95%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.chart-div {
  display: flex;
  width: 95%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}

.chart-div > div {
  display: flex;
  flex-direction: column;
}

.chart-nav {
  width: 670px;
  display: flex;
  justify-content: space-between;
  height: 56px;
  padding-top: 10px;
  padding-left: 20px;
  margin-top: 20px;
}

.date {
  font-size: 18px;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
.date-filter > div:nth-child(1) {
  width: 128px;
  padding: 5px 10px;
  border: 1px solid #dde0e3;
  border-radius: 4.25px;
  height: fit-content;
}
.date-filter > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 70px;
}
.date-filter > div:nth-child(2) > div {
  width: 29.36px;
  height: 22.97px;
  text-align: center;
  background: linear-gradient(0deg, #f2f4f7 0%, #ffffff 100%);
}

.chart-texts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.chart-texts > div:nth-child(2) {
  margin-top: -80px;
}
.chart-texts > div > div:nth-child(2) {
  width: 300px;
  display: flex;
  align-items: center;
}

.chart-texts > div > div:nth-child(2) > div:nth-child(1) {
  background-color: green;
  width: 80%;
  height: 4px;
}

.chart-texts > div > div:nth-child(2) > div:nth-child(2) {
  background-color: #fdc203;
  width: 20%;
  height: 4px;
}
.chart-texts > div > div:nth-child(3) {
  height: 100px;
}
.chart-texts > div > div > div {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.chart-texts
  > div
  > div
  > div:not(.chart-texts > div > div > div:nth-child(1)) {
  margin-top: -5;
}

.reconciled {
  color: green;
  margin-left: 5px;
}

.unreconciled {
  color: #fdc203;
  margin-left: 5px;
}

.total {
  color: #1860ec;
  margin-left: 5px;
}
