.navbar-root {
  height: 60px;
  /* position: fixed; */
  padding: 0px 10px;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: manrope;
  background: white;
  box-shadow: 0 4px 10px rgba(79, 79, 79, 0.1);
}
.nav-logo {
  font-size: 24px;
  color: #1875f0;
  font-weight: 900;
}

.nav-menu-parent {
  width: 800px;
  height: 100%;
  /* background-color: blue; */
}

.nav-menu {
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  color: #7e8695;
  font-size: 14px;
}

.nav-menu > div {
  width: fit-content;
  border-bottom: 4px white solid;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav > div > label > img {
  width: 12px;
  height: 12px;
}

.nav-menu > div > input {
  border: none;
  margin-left: 10px;
  height: 12px;
  background-color: none;
}

.nav-menu > div > input:placeholder {
  font-size: 12px;
}

.left-side {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #647787;
}

.accounts {
  display: flex;
  width: 250px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.avatar-details {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.avatar-details > img {
  width: 32px;
  height: 32px;
}

.avatar-details > div > div:nth-child(1) {
  font-size: 12px;
}

.avatar-details > div > div:nth-child(2) {
  font-size: 10px;
  color: #abb0ba;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid grey;
}
